<div class="container text-white border rounded border-3 p-4">
    
    <div class = "row justify-content-md-center">
        <canvas #tblock></canvas>
        <div class="row align-items-center pl-3">
            <h6>{{ padThreeDigits( tShapes ) }}</h6>
        </div>
    </div>

    <div class="p-2"></div>

    <div class = "row justify-content-md-center">
        <canvas #jblock></canvas>
        <div class="row align-items-center pl-3">
            <h6>{{ padThreeDigits( jShapes ) }}</h6>
        </div>
    </div>

    <div class="p-2"></div>

    <div class = "row justify-content-md-center">
        <canvas #zblock class=""></canvas>
        <div class="row align-items-center pl-3">
            <h6>{{ padThreeDigits( zShapes ) }}</h6>
        </div>
    </div>

    <div class="p-2"></div>

    <div class = "row justify-content-md-center">
        <canvas #oblock class=""></canvas>
        <div class="row align-items-center pl-3">
            <h6>{{ padThreeDigits( oShapes ) }}</h6>
        </div>
    </div>
   
    <div class="p-2"></div>

    <div class = "row justify-content-md-center">
        <canvas #sblock class=""></canvas>
        <div class="row align-items-center pl-3">
            <h6>{{ padThreeDigits( sShapes ) }}</h6>
        </div>
    </div>

    <div class="p-2"></div>

    <div class = "row justify-content-md-center">
        <canvas #lblock class=""></canvas>
        <div class="row align-items-center pl-3">
            <h6>{{ padThreeDigits( lShapes ) }}</h6>
        </div>
    </div>

    <div class="p-2"></div>

    <div class = "row justify-content-md-center">
        <canvas #iblock class="pr-5"></canvas>
        <div class="row align-items-center">
            <h6 class=pr-4>{{ padThreeDigits( iShapes ) }}</h6>
        </div>
    </div>
    
</div>